# Copyright (c) 2017 NVIDIA Corporation.  All Rights Reserved.
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.

#
# Loadable Kernel Modules (LKM) Service (on boot)
#

service lkm_loader /vendor/bin/lkm_loader.sh
    class main
    user root
    group root
    oneshot
    disabled

