# Copyright (c) 2015-2018, NVIDIA CORPORATION.  All rights reserved.
#
# NVIDIA CORPORATION and its licensors retain all intellectual property
# and proprietary rights in and to this software, related documentation
# and any modifications thereto.  Any use, reproduction, disclosure or
# distribution of this software and related documentation without an express
# license agreement from NVIDIA CORPORATION is strictly prohibited.

# dirana3 server - multimedia domain
type d3server, domain;
type d3server_exec, exec_type, file_type, vendor_file_type;

typeattribute d3server mlstrustedobject;

net_domain(d3server)
init_daemon_domain(d3server)

vndbinder_use(d3server)

allow d3server dirana_device:chr_file rw_file_perms;
allow d3server system_file:file rx_file_perms;
allow d3server saf775x_util_exec:file rx_file_perms;

# Use pipes passed over Binder from app domains.
allow d3server appdomain:fifo_file { getattr read write };

allow d3server d3server_service:service_manager add;

not_full_treble(`
    allow d3server shell_exec:file rx_file_perms;
')

full_treble_only(`
    allow d3server vendor_shell_exec:file rx_file_perms;
')
