# Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

type eglstreamservice, domain;
type eglstreamservice_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(eglstreamservice)
net_domain(eglstreamservice)

set_prop(eglstreamservice, system_prop)
set_prop(eglstreamservice, shell_prop)
set_prop(eglstreamservice, ctl_default_prop)
allow eglstreamservice shell_exec:file read;
allow eglstreamservice system_file:file execute_no_trans;
allow eglstreamservice system_file:dir { open read };
allow eglstreamservice sysfs_tegra_hv:dir search;
allow eglstreamservice proc_meminfo:file { open read getattr };
allow eglstreamservice surfaceflinger_service:service_manager find;

binder_use(eglstreamservice)
binder_call(eglstreamservice, binderservicedomain)
allow eglstreamservice self:capability net_raw;
allow eglstreamservice self:process execmem;
#allow eglstreamservice service_manager_type:service_manager find;
allow eglstreamservice gpu_device:chr_file rw_file_perms;

