# Copyright (c) 2016-2017, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# /sys/devices/.*/power/wakeup
type sysfs_power_wakeup, fs_type, sysfs_type;

# /sys/class/tegra_hv
type sysfs_tegra_hv, fs_type, sysfs_type;

# /sys/firmware/devicetree/base/xudc@3550000
type sysfs_devicetree_xudc, fs_type, sysfs_type;

# /sys/devices/18000000.vgpu/devfreq/18000000.vgpu
type sysfs_vgpu_devfreq, fs_type, sysfs_type;

# /data/misc/ethernet
type ethernet_data_file, file_type, data_file_type;
