# Copyright (c) 2016-2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#
# setup_can
#
type setup_can, domain;
type setup_can_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(setup_can)
net_domain(setup_can)

set_prop(setup_can, can_prop)

not_full_treble(`
    allow setup_can shell_exec:file { read execute getattr };
    allow setup_can toolbox_exec:file rx_file_perms;
')

full_treble_only(`
    allow setup_can vendor_shell_exec:file { read execute getattr };
    allow setup_can vendor_toolbox_exec:file rx_file_perms;
')

allow setup_can system_file:file execute_no_trans;
allow setup_can self:capability { net_raw net_admin };
allow setup_can self:netlink_route_socket nlmsg_write;
allow setup_can kernel:system module_request;
allow setup_can self:capability sys_module;
allowxperm setup_can self:udp_socket ioctl { SIOCSIFFLAGS };
