# Copyright (c) 2018, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow eeti service, touch device (dev_type), calib sysfs and
# data file access to system_app(CalibNotifier)

# CalibrNotifier call eeti service and access calib_sysfs directly.
allow system_app eeti_exec:file rx_file_perms;
allow system_app sysfs_eeti_touch_calib:file r_file_perms;

# eeti service access touch device to communicate with touch chip,
# store calibration data and read touch fw.
allow system_app touch_device:chr_file rw_file_perms;
allow system_app eeti_touch_data_file:dir create_dir_perms;
allow system_app eeti_touch_data_file:file create_file_perms;
allow system_app eeti_touch_fw_file:file r_file_perms;
